body{
    /* background-image: url(imgs/mur_cafe_20.png); */
}

body,
h1,
h2,
h3,
h4,
h5 {
    font-family: "Poppins", sans-serif;
}

body {
    font-size: 16px;
}

.w3-half img {
    margin-bottom: -6px;
    margin-top: 16px;
    opacity: 0.8;
    cursor: pointer
}

.w3-half img:hover {
    opacity: 1
}

.publi > td > .entry{
    font-style: italic;
    display: block;
    float: left;
}

.publi > td > .doi{
    font-weight: bold;
    text-decoration: none;
}

.publi > td > .doi::before{
    content: "<";
}

.publi > td > .doi::after{
    content: ">";
}

.publi > td > .arxiv{
    font-weight: bold;
    text-decoration: none;
}

.publi > td > .arxiv::before{
    content: "<";
}

.publi > td > .arxiv::after{
    content: ">";
}


.publi > td > .entry::after{
    content: ",\00a0";
}

.publi{
    text-align: justify;
}

.publiadditional{
    font-style: italic;
    font-size: 13px;
    display: block;
    float: left;
}

/* .title{
    margin-bottom: -5px;
} */

.authors, .entry, .date, .doi, .publiadditional {
    margin-top: -5px;
    /* background-color: red; */
    /* border: solid 1px; */
}


.publi > td > .title {
    display: block;
}

.publi > td > .authors {
    display: block;
    font-size: 13px;
}

.publi > td > .entry {
    font-size: 13px;
}
.publi > td > .date {
    display: block;
    font-size: 13px;
}
.publi > td > .doi {
    /* display: block;
    font-size: 13px; */
    display: none;
}

.quality{
    color: #808080;
    vertical-align: top;
    min-width: 50px;
}

.course_name{
    font-weight: bold;
}

.course_name::after{
    content: ",";
}

#contact{
    position: relative;
    bottom: 0px;
    clear: both;
    border: solid white 2px;
    border-radius: 25px;
    margin-top: 30px;
    text-decoration: none;
    font-size: x-small;
    font-weight: normal;
}

.nodeco{
    text-decoration: none;
}

#about_me > p{
    text-align: justify;
}

#research > p{
    text-align: justify;
}
